


<div style="border:rgb(255, 25, 0); border-width:5px; border-style:solid;">
  <h3 class="row d-flex justify-content-center p-5" style="font-family:verdana;"> Login As</h3>
  <a href="/teachers" class= "row d-flex justify-content-center btn btn-primary m-5">Teacher's Login</a>
  <a href="/students" class="row d-flex justify-content-center btn btn-info m-5">Student's Login</a>

  
</div>

